* {
    box-sizing: border-box;
}
  
.column {
  float: left;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

html, body 
{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 50%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

